* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-image: url('/assets/images/background.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	width: 90%;
	max-width: 80rem;
	margin: 5svh auto 0 auto;
	gap: 2em;
	height: 90svh;
}

.container > div {
	width: 100%;
	overflow: auto;
}

.window {
	display: flex;
	flex-direction: column;
}

.window-body {
	flex: 1 1 auto;
	height: 0px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

ul {
	overflow: auto !important;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}

.field-row {
	display: flex;
}

.field-row input {
	flex-grow: 1;
}

.products {
	overflow: auto;
	flex: 1 1 auto;
	height: 0px;
}

.product {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.5em;
}

.product img {
	width: 100%;
	height: auto;
}

.product > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.product .name {
	font-size: 1.8em;
	font-weight: bold;
	margin: 0.2em 0;
}

.product .description {
	margin: 1.2em 0;
}

.product .price {
	font-size: 1.5em;
}

.product .price-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-animation {
	display: block;
	margin: 5em auto;
}

#flagContainer {
	margin-top: 3em;
}

#flagContainer:empty {
	margin-top: 0;
}

#loginError {
	color: #aa0000;
	display: none;
}
